{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block page_name %}
  {{ title }}
{% endblock page_name %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% breadcrumb_item text="Página Inicial" url="home" %}
      {% breadcrumb_item text="Acadêmico" url="academics:academics_home" %}
      {% breadcrumb_item text="Lista de Séries" active="active" %}
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block content %}
  <div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Séries Cadastradas</h3>
    </div>
    <div class="card-body p-0" style="overflow-x: auto">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Turno</th>
            <th>Professor</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.code }}</td>
              <td>{{ object.name }}</td>
              <td>{{ object.shift }}</td>
              <td>{{ object.teacher.name }}</td>
              <td class="text-center">
                <a href="{% url 'academics:serie_detail' object.pk %}"><i class="fas fa-eye" aria-hidden="true"></i></a>
                <a class="mx-1"
                   href="{% url 'academics:serie_update' object.pk %}"
                   type="button"
                   aria-label="editar"
                   title="editar">
                  <i class="fas fa-edit" aria-hidden="true"></i></a>
                <a type="button"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteModal-{{ object.pk }}"
                   aria-label="excluir"
                   title="excluir">
                  <i class="fas fa-trash" aria-hidden="true"></i></a>
                {% include "academics/academics_confirm_delete.html" with delete_url="academics:serie_delete" %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">
                <p>Não existem séries cadastradas.</p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if object_list %}
      {% include 'adminlte/lib/_pagination.html' %}
    {% endif %}
  </div>
  {% url "academics:academics_home" as academics_home %}
  {% url "academics:serie_create" as serie_create %}
  {% save_cancel_buttons link_back=academics_home link_forward=serie_create %}
{% endblock content %}
