{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block head %}
  <title>{% translate "Cadastro de Professores" %}</title>
{% endblock head %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% breadcrumb_item text="Página Inicial" url="home" %}
      {% breadcrumb_item text="Pessoas" url="people:people_home" %}
      {% breadcrumb_item text="Lista de Professores" url="people:responsible_list" %}
      {% breadcrumb_item text="Cadastro de Professores" active="active" %}
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block content %}
  {% block alerts %}
    {% include "layouts/alerts.html" %}
  {% endblock alerts %}
  <div class="card card-primary mx-3">
    <div class="card-header">
      <h3 class="card-title">Cadastro de Professores</h3>
    </div>
    <div class="card-body p-0 mt-3">
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row mx-auto mb-3">
          <div class="col-12 col-sm-6">{% bootstrap_field form.cpf %}</div>
          <div class="col-12 col-sm-6">{% bootstrap_field form.name %}</div>
        </div>
        <div class="row mx-auto mb-3">
          <div class="col-12 col-sm-6">{% bootstrap_field form.email %}</div>
          <div class="col-12 col-sm-6">{% bootstrap_field form.gender %}</div>
        </div>
        <div class="row mx-auto mb-3">
          <div class="col-12 col-sm-6">{% bootstrap_field form.birth %}</div>
        </div>
        {% include "people/_address_form.html" %}
        {% url "people:teacher_list" as teacher_list %}
        {% save_cancel_buttons link_back=teacher_list has_form=True %}
      </form>
    </div>
  </div>
{% endblock content %}
