{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block page_name %}
  {{ title }}
{% endblock page_name %}
{% block breadcrumb_items %}
  {{ block.super }}
  {% breadcrumb_item text="Página Inicial" url="home" %}
  {% breadcrumb_item text="Pessoas" url="people:people_home" %}
  {% breadcrumb_item text=title active="active" %}
{% endblock breadcrumb_items %}
{% block content %}
  <div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Lista de Professores Cadastrados</h3>
    </div>
    <div class="card-body p-0" style="overflow-x: auto">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.name }}</td>
              <td>{{ object.email }}</td>
              <td>{{ object.address.phone }}</td>
              <td class="text-center">
                <a href="{% url 'people:teacher_detail' object.pk %}"><i class="fas fa-eye" aria-hidden="true"></i></a>
                <a class="mx-1"
                   href="{% url 'people:teacher_edit' object.pk %}"
                   type="button"
                   aria-label="editar"
                   title="editar">
                  <i class="fas fa-edit" aria-hidden="true"></i></a>
                <a type="button"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteModal-{{ object.pk }}"
                   aria-label="excluir"
                   title="excluir">
                  <i class="fas fa-trash" aria-hidden="true"></i></a>
                {% include "people/people_confirm_delete.html" with delete_url="people:teacher_delete" %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">
                <p>Não existem professores cadastrados.</p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if object_list %}
      {% include 'adminlte/lib/_pagination.html' %}
    {% endif %}
  </div>
  {% url "people:people_home" as people_home %}
  {% url "people:teacher_form" as teacher_form %}
  {% save_cancel_buttons link_back=people_home link_forward=teacher_form %}
{% endblock content %}
