{% load bootstrap5 %}

<div class="row mx-auto mb-3">
  <div class="col-12 col-sm-6">
    <div class="br-input">
      {% bootstrap_field address_form.address %}
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="br-input">
      {% bootstrap_field address_form.zip_code %}
    </div>
  </div>
</div>
<div class="row mx-auto mb-3">
  <div class="col-12 col-sm-6">
    <div class="br-input">
      {% bootstrap_field address_form.city %}
    </div>
  </div>
  <div class="col-12 col-sm-6">
    {% bootstrap_field address_form.phone %}
  </div>
</div>