<div class="row">
  <div class="col-12 col-sm-6">
    <div class="br-input">
      {{ form.address.label_tag }}
      {{ form.address }}
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="br-input">
      {{ form.zip_code.label_tag }}
      {{ form.zip_code }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6">
    <div class="br-input">
      {{ form.city.label_tag }}
      {{ form.city }}
    </div>
  </div>
  <div class="col-12 col-sm-6">
    {{ form.country_state.label_tag }}
    {{ form.country_state }}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6">
    <div class="br-input">
      {{ form.phone.label_tag }}
      {{ form.phone }}
    </div>
  </div>
</div>
