{% extends "base.html" %}

{% load bootstrap5 %}
{% load breadcrumb_item %}
{% load infobox %}

{% block title %}
  Pessoas
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% breadcrumb_item text="Página Inicial" url="home" %}
      {% breadcrumb_item text="Pessoas" url="home" active="active" %}
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block content %}
  <div class="row justify-content-start m-3">
    {% infobox color="primary" number=teacher_count text="Docentes" icon="fas fa-chalkboard-teacher fa-2x" link="people:teacher_list" %}
    {% infobox color="primary" number=student_count text="Discentes" icon="fas fa-user-graduate" link="people:student_list" %}
    {% infobox color="primary" number=responsible_count text="Responsáveis" icon="fas fa-user" link="people:responsible_list" %}
    {% comment %} {% infobox color="primary" number=10 text="Fornecedores" icon="fas fa-truck" link="home" %} {% endcomment %}
  </div>
{% endblock content %}
