{% extends "base.html" %}

{% load static %}
{% load breadcrumb_item %}

{% block title %}
  User:
  {{ object.name }}
{% endblock title %}
{% block breadcrumb_items %}
  {{ block.super }}
  {% breadcrumb_item text="Página Inicial" url="home" %}
  {% breadcrumb_item text="Pessoas" url="people:people_home" %}
  {% breadcrumb_item text="Lista de Responsáveis" url="people:responsible_list" %}
  {% breadcrumb_item text="Visualizar Responsável" active="active" %}
{% endblock breadcrumb_items %}
{% block content %}
  <div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Dados da Responsável</h3>
    </div>
    <div class="card-body p-0">
      <div class="row align-items-center m-3">
        <div class="col-md-2 col-sm-12">
          <strong>Nome:</strong>
        </div>
        <div id="nome-completo" class="col-md-10 col-sm-12">{{ object.name }}</div>
      </div>
      <div class="row align-items-center m-3">
        <div class="col-md-2 col-sm-12">
          <strong>Email:</strong>
        </div>
        <div id="email" class="col-md-10 col-sm-12">{{ object.email }}</div>
      </div>
      <div class="row align-items-center m-3">
        <div class="col-md-2 col-sm-12">
          <strong>Gênero:</strong>
        </div>
        <div id="email" class="col-md-10 col-sm-12">{{ object.get_gender_display }}</div>
      </div>
      <div class="row align-items-center m-3">
        <div class="col-md-2 col-sm-12">
          <strong>Endereço:</strong>
        </div>
        <div id="address" class="col-md-10 col-sm-12">{{ object.address.address }}</div>
      </div>
      <div class="row align-items-center m-3">
        <div class="col-md-2 col-sm-12">
          <strong>Cidade:</strong>
        </div>
        <div id="city" class="col-md-10 col-sm-12">{{ object.address.city }}</div>
      </div>
      <div class="row align-items-center m-3">
        <div class="col-md-2 col-sm-12">
          <strong>CEP:</strong>
        </div>
        <div id="address" class="col-md-10 col-sm-12">{{ object.address.zip_code }}</div>
      </div>
      <div class="row align-items-center m-3">
        <div class="col-md-2 col-sm-12">
          <strong>Telefone:</strong>
        </div>
        <div id="address" class="col-md-10 col-sm-12">{{ object.address.phone }}</div>
      </div>
      <div class="row justify-content-between m-3">
        <div class="col-lg-4 col-md-6 col-12 m-3">
          <a type="button" class="btn btn-secondary" href="{% url 'people:responsible_list' %}"> <i class="fas fa-chevron-left mr-1" aria-hidden="true"></i>Voltar</a>
        </div>
        <div class="col-lg-2 col-md-3 col-12 m-3">
          <a class="btn btn-primary" href="{% url 'people:responsible_edit' object.pk %}">Editar</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
