{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block head %}
  <title>{% translate "Lista de Responsáveis" %}</title>
{% endblock head %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      {% breadcrumb_item text="Página Inicial" url="home" %}
      {% breadcrumb_item text="Pessoas" url="people:people_home" %}
      {% breadcrumb_item text="Lista de Responsáveis" url="people:responsible_list" %}
      {% breadcrumb_item text="Cadastro de Responsáveis" active="active" %}
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}
{% block alerts %}
  {% include "layouts/alerts.html" %}
{% endblock alerts %}
  <div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Cadastro de Responsáveis</h3>
    </div>
    <div class="card-body p-0">
      <form method="post">
        {% csrf_token %}
        {% comment %} {% include "people/_person_form.html" with form=person_form address_form=address_form only %} {% endcomment %}
        {{ form.as_p }}
        {{ address_form.as_p }}
        {% url "people:responsible_list" as users_list_url %}
        {% save_cancel_buttons link_back=users_list_url has_form=True %}
      </form>
    </div>
  </div>
{% endblock content %}
