{% extends "base.html" %}

{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block title %}
  Cadastro de Produtos
{% endblock title %}
{% block breadcrumb_items %}
  {{ block.super }}
  {% breadcrumb_item text="Página Inicial" url="home" %}
  {% breadcrumb_item text="Lista de Produtos" url="movement:products_list" %}
  {% breadcrumb_item text="Lista de Produtos" active="active" %}
{% endblock breadcrumb_items %}
{% block content %}
  <div class="card card-primary mx-3">
    <div class="card-header">
      <div class="card-title">Cadastro de Produtos</div>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% url "movement:products_list" as product_list %}
        {% save_cancel_buttons link_back=product_list has_form=True %}
      </form>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('.money').mask('000,00', {
      reverse: true
    });
  })
</script>
{% endblock extra_js %}
