{% extends "base.html" %}

{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block title %}
  Lista de Produtos
{% endblock title %}
{% block breadcrumb_items %}
  {{ block.super }}
  {% breadcrumb_item text="Página Inicial" url="home" %}
  {% breadcrumb_item text="Lista de Produtos" active="active" %}
{% endblock breadcrumb_items %}
{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Lista de Produtos</h3>
    </div>
    <div class="card-body p-0">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Nome</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Estoque</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.name }}</td>
              <td class="text-center">R$ {{ object.price }}</td>
              <td class="text-center">{{ object.stock }}</td>
              <td class="text-center">
                <a href="{% url 'movement:product_detail' object.pk %}"><i class="fas fa-eye" aria-hidden="true"></i></a>
                <a href="{% url 'movement:product_update' object.pk %}"
                   type="button"
                   aria-label="editar"
                   title="editar">
                  <i class="fas fa-edit" aria-hidden="true"></i></a>
                <a type="button"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteModal-{{ object.pk }}"
                   aria-label="excluir"
                   title="excluir">
                  <i class="fas fa-trash" aria-hidden="true"></i></a>
                {% include "products/product_confirm_delete.html" %}
              </td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% url "home" as home_url %}
  {% url "movement:product_form" as product_form %}
  {% save_cancel_buttons link_back=home_url link_forward=product_form %}
{% endblock content %}
