{% extends "base.html" %}

{% load bootstrap5 %}
{% load humanize %}

{% block title %}
  Página Inicial
{% endblock title %}
{% block content %}
  
  <div class="card text-center col-8 mx-auto p-0">
    <div class="card-header">GeCEs</div>
    <div class="card-body">
      <h1 class="card-text">Página Inicial</h1>
      <p class="card-text">Sistema de Gerencimento de Cantina Escolar.</p>
      {% if not request.user.is_authenticated %}
        <a href="{% url 'account_login' %}" class="btn btn-primary">Entrar</a>
      {% else %}
        <a href="{% url 'account_logout' %}" class="btn btn-danger">Sair</a>
      {% endif %}
    </div>
    <div class="card-footer text-muted">desde 2023</div>
  </div>

  <div class="info-box bg-{{ color }}">
    {% if not hide_icon %}
        <span class="info-box-icon"><i class="fa fa-{{ icon }}"></i></span>
    {% endif %}
    <div class="info-box-content">
        <span class="info-box-text">{{ header }}</span>
        <span class="info-box-number">{{ number }} {{ unit }}</span>
        {% if percent %}
            <div class="progress">
                <div class="progress-bar" style="width: {{ percent }}%"></div>
            </div>
            {% if how_long %}
                <span class="progress-description">
                    {{ percent }}% Increase in {{ how_long }}
                </span>
            {% endif %}
        {% endif %}
    </div><!-- /.info-box-content -->
</div><!-- /.info-box -->

{% endblock content %}
