{% extends "base.html" %}

{% load bootstrap5 %}
{% load breadcrumb_item %}

{% block title %}
  Página Inicial
{% endblock title %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      {% breadcrumb_item text="Página Inicial" url="home" active="active" %}
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}
  
  <div class="row justify-content-start m-3">
    
    {% comment %} {% include "custom_info_box.html" with color="success" icon="check" header="Total Users" number=123 unit="users" percent=25 how_long="last month" %} {% endcomment %}
    
    <div class="col-md-4 col-12">
      <div class="small-box bg-gradient-success">
        <div class="inner">
          <h3>1</h3>
          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="small-box bg-gradient-success">
        <div class="inner">
          <h3>1</h3>
          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="small-box bg-info">
        <div class="inner">
          <h3>150</h3>
          <p>Vendas no mês atual</p>
        </div>
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>3</h3>
          <p>Balanço Mensal</p>
        </div>
        <div class="icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>4</h3>
          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

  </div>

{% endblock content %}
