{% extends "base.html" %}

{% load bootstrap5 %}
{% load breadcrumb_item %}
{% load infobox %}

{% block title %}
  Acadêmico
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% breadcrumb_item text="Página Inicial" url="home" %}
      {% breadcrumb_item text="Acadêmico" url="home" active="active" %}
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block content %}
  <div class="row justify-content-start m-3">
    {% infobox color="primary" number=series_count text="Series" icon="fas fa-graduation-cap" link="academics:serie_list" %}
    {% infobox color="primary" number=5 text="Turmas" icon="fas fa-chalkboard" link="people:responsible_list" %}
    {% infobox color="primary" number=5 text="Matrículas" icon="far fa-check-square" link="people:student_list" %}
    <i class="fa-solid fa-chalkboard"></i>
  </div>
{% endblock content %}
