{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}

{% block breadcrumb_items %}
  {{ block.super }}
  {% breadcrumb_item text="Página Inicial" url="home" %}
  {% breadcrumb_item text="Lista de Usuários" url="users:list" %}
  {% breadcrumb_item text="Cadastro de Usuários" active="active" %}
{% endblock breadcrumb_items %}

{% block content %}
  <div class="card card-primary mx-3">
    <div class="card-header">
      <h3 class="card-title">Cadastro de Usuários</h3>
    </div>
    <div class="card-body p-0 mt-3">
      <form method="post">
        {% csrf_token %}
        <div class="row mx-auto">
          {% bootstrap_field form.email %}
          {% bootstrap_field form.name %}
          {% bootstrap_field form.group %}
          {% bootstrap_field form.is_active %}
        </div>
      </div>
      {% url "users:list" as users_list_url %}
      {% save_cancel_buttons link_back=users_list_url has_form=True %}
    </form>
  {% endblock content %}
