{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      <div class="card-title">Cadastro de Usuários</div>
    </div>
  </div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        {% bootstrap_field form.email %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.group %}
        {% bootstrap_field form.is_active %}
      </div>

      <div class="row justify-content-between">
        <div class="col-lg-3 col-md-4 col-12">
          <a type="button" class="btn btn-secondary" href="{% url 'users:list' %}"> <i class="fas fa-times mr-1" aria-hidden="true"></i>Cancelar</a>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <button class="btn btn-primary" type="submit">{% translate "Salvar" %}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
