{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      <div class="card-title">Cadastro de Usuários</div>
    </div>
  </div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        {% bootstrap_field form.email %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.group %}
        {% bootstrap_field form.is_active %}
      </div>
  </div>
  {% url "users:list" as users_list_url %}
  {% save_cancel_buttons link_back=users_list_url %}
  
</form>
{% endblock content %}
