{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}

{% block head %}
  <title>{% translate "Lista de Usuários" %}</title>
{% endblock head %}
{% block breadcrumb_items %}
  {{ block.super }}
  {% breadcrumb_item text="Página Inicial" url="home" %}
  {% breadcrumb_item text="Lista de Usuários" url="users:list" active="active" %}
{% endblock breadcrumb_items %}
{% block content %}
  <div class="accordion m-3" id="accordionFilters">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">Filtros</button>
      </h2>
      <div id="collapseOne"
           class="accordion-collapse collapse"
           aria-labelledby="headingOne"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form method="get" action="{% url 'users:list' %}" autocomplete="off">
            <div class="row mx-auto">
              <div class="col-md-4 col-12 mt-3">
                {{ filter.form.name.label_tag }}
                {{ filter.form.name }}
              </div>
              <div class="col-md-4 col-12 mt-3">
                {{ filter.form.email.label_tag }}
                {{ filter.form.email }}
              </div>
              <div class="col-md-4 col-12 mt-3">
                {{ filter.form.is_active.label_tag }}
                {{ filter.form.is_active }}
              </div>
              <div class="col-md-6 col-12 mt-3">
                {{ filter.form.group.label_tag }}
                {{ filter.form.group }}
                {{ filter.form.group.help_text }}
              </div>
              <div class="col-md-6 col-12 mt-3 d-flex align-items-end">
                <div class="ms-auto">
                  <button class="btn btn-primary rounder-md flex-grow-1 mb-1"
                          type="submit"
                          name="filtrar">
                    <i class="fa fa-filter"></i>
                    {% translate "Filtrar" %}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Lista de Usuários Cadastrados</h3>
    </div>
    <div class="card-body p-0">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Permissões</th>
            <th class="text-center">Situação</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.name }}</td>
              <td>{{ object.email }}</td>
              <td>
                {% for group in object.groups.all %}
                  {{ group.name }}
                  {% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
              <td class="text-center">
                {% if object.is_active %}
                  <span class="badge bg-success">Ativo</span>
                {% else %}
                  <span class="badge bg-danger">Inativo</span>
                {% endif %}
              </td>
              <td class="text-center">
                <a href="{% url 'users:detail' object.pk %}"><i class="fas fa-eye" aria-hidden="true"></i></a>
                <a href="{% url 'users:edit' object.pk %}"
                   type="button"
                   aria-label="editar"
                   title="editar">
                  <i class="fas fa-edit" aria-hidden="true"></i></a>
                <a type="button"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteModal-{{ object.pk }}"
                   aria-label="excluir"
                   title="excluir">
                  <i class="fas fa-trash" aria-hidden="true"></i></a>
                {% include "users/user_confirm_delete.html" %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">
                <p>Não existem usuários cadastrados.</p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'adminlte/lib/_pagination.html' %}
    </div>
  </div>
  {% url "home" as home_url %}
  {% url "users:signup" as users_signup %}
  {% save_cancel_buttons link_back=home_url link_forward=users_signup %}
{% endblock content %}
