{% extends "base.html" %}


{% block title %}
    Listagem de Produtos
{% endblock title %}
    
{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lista de Usuários Cadastrados</h3>
        </div>
        <div class="card-body p-0">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.name }}</td>
                            <td>{{ object.email }}</td>
                            <td>
                                <a href="#">Editar</a>
                                <a href="#">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'users:signup' %}">Cadastrar</a>
{% endblock content %}
    