{% extends "base.html" %}
{% load i18n %}
{% block title %}
  Listagem de Produtos
{% endblock title %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>
  </div>
  <div class="card-body p-0">
    <form method="GET" action="{% url 'users:list' %}" autocomplete="off">
      <div class="col-12 mx-0 mt-3">
        {{ filter.form.name.label_tag }}
        {{ filter.form.name }}
        {{ filter.form.email.label_tag }}
        {{ filter.form.email }}
      </div>
      <div class="col-12 mx-0 mt-3">
        {{ filter.form.is_active.label_tag }}
        {{ filter.form.is_active }}
        {{ filter.form.group.label_tag }}
        {{ filter.form.group }}
      </div>
      <div class="col-12 mx-0 mt-3">
        <button class="btn btn-primary rounder-md flex-grow-1 mb-1" type="submit" name="filtrar">
          <i class="fa fa-filter"></i>
          {% translate "Filtrar" %}
        </button>
      </div>
    </form>
  </div>
</div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Lista de Usuários Cadastrados</h3>
    </div>
    <div class="card-body p-0">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Permissões</th>
            <th class="text-center">Situação</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.name }}</td>
              <td>{{ object.email }}</td>
              <td>
                {% for group in object.groups.all %}
                  {{ group.name }}
                  {% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
              <td class="text-center">
                {% if object.is_active %}
                  <span class="badge bg-success">Ativo</span>
                {% else %}
                  <span class="badge bg-danger">Inativo</span>
                {% endif %}
              </td>
              <td class="text-center">
                <a href="{% url 'users:detail' object.pk %}"><i class="fas fa-eye" aria-hidden="true"></i></a>
                <a 
                  href="{% url 'users:edit' object.pk %}"
                  type="button"
                  aria-label="editar"
                  title="editar">
                  <i class="fas fa-edit" aria-hidden="true"></i></a>
                <a 
                  type="button"
                  data-bs-toggle="modal" 
                  data-bs-target="#deleteModal-{{ object.pk }}"
                  aria-label="excluir"
                  title="excluir">
                  <i class="fas fa-trash" aria-hidden="true"></i></a>
                {% include "users/user_confirm_delete.html" %}
              </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    <p>Não existem usuários cadastrados.</p>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row justify-content-between">
    <div class="col-lg-2 col-md-3  col-12 mt-3">
      <a type="button" class="btn btn-secondary" href="/"> <i class="fas fa-chevron-left mr-1" aria-hidden="true"></i>Voltar</a>
    </div>
    <div class="col-lg-2 col-md-3 col-12 mt-3">
      <a class="btn btn-primary" href="{% url 'users:signup' %}">Cadastrar</a>
    </div>
  </div>
{% endblock content %}
