{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}
{% load infobox_progress %}

{% block page_name %}{{ title }}{% endblock %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% breadcrumb_item text="Página Inicial" url="home" %}
      {% breadcrumb_item text="Acadêmico" url="academics:academics_home" %}
      {% breadcrumb_item text="Lista de Turmas" active="active" %}
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block content %}
  
  <div class="row justify-content-start mx-3">
    {% for object in student_groups %} 
      {% infobox color="primary" icon="book-reader" header1=object.serie.name header2=object.serie.shift.name header3=object.reference_year subtitle1="Docente:" subtitle2=object.serie.teacher.name  percent=object.percentage number=object.num_students how_long=object.offers link="academics:serie_list" %}
    {% endfor %}
  </div>

  {% url "academics:academics_home" as academics_home %}
  {% url "academics:student_group_create" as student_group_create %}
  {% save_cancel_buttons link_back=academics_home link_forward=student_group_create %}
{% endblock content %}
