{% extends "base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% load save_cancel_buttons %}
{% load breadcrumb_item %}
{% load infobox_progress %}

{% block page_name %}
  {{ title }}
{% endblock page_name %}
{% block breadcrumb_items %}
  {{ block.super }}
  {% breadcrumb_item text="Página Inicial" url="home" %}
  {% breadcrumb_item text="Acadêmico" url="academics:academics_home" %}
  {% breadcrumb_item text="Lista de Turmas" active="active" %}
{% endblock breadcrumb_items %}
{% block content %}
  <div class="accordion m-3" id="accordionFilters">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">Filtros</button>
      </h2>
      <div id="collapseOne"
           class="accordion-collapse collapse"
           aria-labelledby="headingOne"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form method="get"
                id="student-group-filter"
                action="{% url 'academics:student_group_list' %}"
                autocomplete="off">
            <div class="row mx-auto">
              <div class="col-md-4 col-12 mt-3">
                {{ filter.form.reference_year.label_tag }}
                {{ filter.form.reference_year }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-start mx-3">
    {% for object in object_list %}
      {% infobox color="primary" icon="book-reader" header1=object.serie.name header2=object.serie.shift.name header3=object.reference_year subtitle1="Discentes matriculados:" subtitle2=object.students.all.count percent=object.percentage number=object.num_students how_long=object.offers link='academics:student_group_detail' pk=object.pk %}
    {% endfor %}
  </div>
  {% url "academics:academics_home" as academics_home %}
  {% url "academics:student_group_create" as student_group_create %}
  {% save_cancel_buttons link_back=academics_home link_forward=student_group_create %}
{% endblock content %}
{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#id_reference_year').change(function() {
        $('#student-group-filter').submit();
      });
    });
  </script>
{% endblock extra_js %}
